# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.eggs/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env
.env.local

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Project specific
target/
*.jar
*.original
